.song-detail-wrap {
  width: 980px;
  margin: 0 auto;
  .detail-list-wrap {
    width: calc(640px + 30px + 39px);
    padding: 47px 30px 40px 39px;
    .detail-info {
      width: 100%;
      .info-cover{

      }
    }
  }
}