.carousel {
  width: 100%;
  height: 336px;
  background-color: #d77198;
  .carousel-wrap {
    width: 982px;
    height: 100%;
    box-sizing: border-box;
    padding-right: 254px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .wrap-carousel-list {
      width: 800%;
      height: 100%;
      .carousel-list-item {
        width: calc(982px - 254px);
        float: left;
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
        }
      }
    }

    //轮播按钮
    > a {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 37px;
      height: 63px;
      background: url("../../assets/images/banner.png") no-repeat;
      &:hover {
        background-color: rgba(0, 0, 0, .2);
      }
    }
    .slide-btn-l {
      left: -68px;
      background-position: 0 -360px;
    }
    .slide-btn-r {
      right: -68px;
      background-position: 0 -508px;
    }
  }
  .wrap-download {
    width: 254px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../../assets/images/download.png") no-repeat 0 0;
    background-size: cover;
    > a {
      display: block;
      width: 215px;
      height: 56px;
      margin: 212px auto 19px;
      background: url("../../assets/images/download.png") no-repeat 0 -99999px;
      &:hover {
        background-position-y: -340px;
      }
    }
    > p {
      color: #8d8d8d;
      text-align: center;
    }
  }
}
